*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right, #4c6c81, #083263);
}

.container li{
    display: inline;
    padding-left: 16px;
}

.container{
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    font-family: "Dancing Script", cursive;
}

header{
    padding: 30px;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container h1{
    color: #fff;
    font-size: 60px;
}

.container a{
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

#about{
    margin-top: 400px;
    
}

.main{
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main p{
    justify-content: center;
    margin-top: 16px;
    color: #fff;
}

.main h2{
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.main img{
    margin: 16px 100px;
}
  
.contact img{
    height: 30px;
    align-items: center;
    justify-content: space-between;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    
.container h2{
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    
}

.contact img{
    margin-top: 20px;
    margin-left: 25px;
}

footer{
    padding: 35px;
    margin-top: 200px;
    background-image: linear-gradient(to right, #fff, #083263);
}